.navbar-custom {
    background-color: #000000;
}

.navbar-fixed-top {
height: 70px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: grey;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-brand {
    padding-top: 0;
}

.navbar-collapse ul li {
    display: inline-block;
    list-style: none;
    padding: 1%;
    float:right;

}
.navbar-collapse a {  
    color: #ffffff;
    font-family: 'Architects Daughter', 'san-serif';
    font-size: 1.5em;
}

.navbar-text {
    font-family: 'Architects Daughter', 'san-serif';
    color: #ffffff;
    font-size: 3.5em;
    margin-top: 0;
    text-decoration: none;
}

.navbar-text a:hover {
    text-decoration: none;
}
.navbar-text a:visited {
    color: #ffffff;
    text-decoration: none;
}

body {
    padding-top: 70px;
}

body#home {
    background: url("perutrail.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
    background-size: 100% 100%}

body#about {
        background: url("peru10.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
        background-size: 100% 100%;
}

body#contact {
        background: url("makboatresize.jpg") no-repeat fixed center center / cover rgba(0, 0, 0, 0);
        background-size: 100% 100%;
}

h1 {
    color: black;
    font-family: Georgia;
    line-height: 40px;
    text-align: center;
}


div.intro {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    font-family: Georgia;
    font-size: 1em;
    float: right;
    margin: 5% 20%;
    padding: 2%;
    position: relative;
    text-align: left;
    width: 350px;
}

.intro a {
    margin-left: 40px;
}


.intro h3 {
    background: none repeat scroll 0 0 #457289;
    border-radius: 5px;
    color: white;
    text-align: left;
    padding: 1%;
}

.center {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    font-family: Georgia;
    margin: 15px auto;
    padding: 20px;
    position: relative;
    text-align: left;
    width: 500px;
}

.row {
    margin-left: 300px;
}

.row ul:hover img{
    -webkit-transform:scale(4.25); /* Safari and Chrome */
     transform:scale(4.25);
     z-index: 1; 
     position:relative;
     padding-top: 5%;
}


footer.container-fluid{
    background-color: #000000;
    font-family: 'Architects Daughter', 'san-serif';
    position: fixed;
    width: 100%;
    height: 35px;
    bottom: 0;
    padding-bottom: 2%;
}

footer ul li {
    display: inline-block;
    list-style: none;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    float:right;
}

footer p {
    float: left;
    margin-top: 10px;
}


footer a,
footer p {
    color: #fff;
}

/* Media Queries, start collapsing once gets to certain pixels */

@media only screen and (max-device-width: 480px){
    .features img {
        max-width: 90%;
        margin: auto;
    }
    div.intro {
        margin-right: 5%;
        margin-top: 10%;
    }

}